<html>
    <head>
        <title>Page Not Found</title>
        <style>
            .sneaky{
                color:red;
                font-size: xx-large;
            }
        </style>
    </head>
    <body align='center'>
        <h1 align='center'>404: Page Not Found</h1>
        <p align='center'>What you were looking for is just not there.</p>
        <p align='center'><strong>Error:</strong> {{ error }}
        <p align='center'><a href="{{ url_for('home') }}">Go To The Home Page</a></p>
        {% if Sneaky %}
            <p align='center' class='sneaky'>You tried to be sneaky...</p>
        {% endif %}
    </body>
</html>