<html>
  <head>
    <title>New File</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container" align='center'>
      <h1 align='center'>Make New File</h1>
      <br>
      <form method="post" align='center'>
        <input type="text" placeholder="Name" name="name" value="{{
          request.form.name }}">
        <input class="btn btn-default" type="submit" value="Create">
      </form>
      <p align='center'>Click <a href="/">here</a> to go home.</p>
    </div>
  </body>
</html>