<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/source/Main.css">
    </head>
    <body>
      <div style='max-width: 1000px; margin:0 auto;  height:100%; overflow:auto; background-color: whitesmoke; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);' align=center>
        <div style='margin: 4px;'>
        <div class="navbar">
          <form method=post enctype=multipart/form-data>
            <div class="lef">
            <label class="custom-file-upload">
              <input type=file name=file>
            </label>
            </div>
            <div class="rig">
              <button type=submit class='form-submit-button'>Upload</button>
            </div>
          </form>
          <div align=center>
          {% if not loggedin %} 
              <a href='/register' class=blue1>Register</a>
              <a href="/login" class="active">Login</a>
          {% endif%}
          {% if loggedin%}
              <a href="/logout" class='bad1'>Logout</a>
          {% endif %}
        </div>
      <a href="" class='loginst'> {{ logged }}</a>
        </div> 
        {% if loggedin %}
        {{ links | safe }}
        {% endif %}
        {% if not loggedin %}
          <h1>You are not logged in!</h1>
        {% endif %}

        <script>
            function myFunction() {
              var input, filter, ul, li, a, i;
              input = document.getElementById("mySearch");
              filter = input.value.toUpperCase();
              ul = document.getElementById("myMenu");
              li = ul.getElementsByTagName("li");
              for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                  li[i].style.display = "";
                } else {
                  li[i].style.display = "none";
                }
              }
            }
        </script>
        </div>
      </div>
    </body>
</html>